body {
    background-color: #472d30;
}

.ladoIzq {
    background-color: #723d46;
    height: 100%;
    width: 40%;
    border-top-left-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.perfil { 
    width: 200px;
    height: 200px;
    border-radius: 45%;
}
.ladoDer{
    background-color: rgb(249, 134, 99);
    width: 60%;
    border-top-right-radius: 50px;
}
.sobre-mi {
    text-align: center;
    width: 100%;

}

.trabajos {
    text-align: center;
    width: 100%;
}
