body {
    background-color: #472d30;
    display: flex;
    margin: 30px;
    font-family: 'Courier New';
}

.ladoIzq {
    background-color: #723d46;
    width: 40%;
    border-top-left-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.perfil { 
    width: 200px;
    height: 200px;
    border-radius: 45%;
    padding-top: 5px;
}
.nombre{
    text-align: center;
}

.ladoDer{
    background-color: rgb(249, 134, 99);
    width: 60%;
    border-top-right-radius: 50px;
}
.sobre-mi {
    text-align: center;
    width: 100%;
}

.sobre-mi h1{
    text-decoration: underline;
}

.trabajos {
    text-align: center;
    width: 100%;
}

.trabajos h1{
    text-decoration: underline;
}

.trabajos_practicos {
    text-align: center;
    width: 100%;
}

.trabajos_practicos h1{
    text-decoration: underline;
}

.contacto {
    text-align: center;
    width: 100%;
}

.contacto h1{
    text-decoration: underline;
}

.emprendimiento { 
    display: block;
    text-align: center;
    width: 100%;
}

.emprendimiento h1{
    text-decoration: underline;
}

span{
    font-weight: bold;
}
li {
    display: flex;
    list-style-position: inside;
    margin: 15px;
}

a{
    color: #ffe1a8;
    border: 5px solid #ffe1a8 ;
background-color: #723d46;
}

.video{
    border: #ffe1a8 solid 5px;
}